.heroContainer {
  padding-top: var(--nav-height);
  height: 100vh;
  display: flex;
}

.heroTextSection {
  text-align: left;
  margin: auto;
  max-width: 800px;
}

.nameHighlight {
  color: var(--green);
}

@media screen and (max-width: 920px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 50px;
  }
}
