@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Source Sans Pro";
  --primary: #ffffff;
  --white: #faebd7;
  --dark: #333333;
  --green: #53ed6a;
  color: var(--dark);
  background-color: var(--primary);
  --h1-size: 100px;
  --h2-size: 80px;
  --nav-height: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 50px;
}
